@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Estudiantes: </strong>   <a href="mailto:john.rinconc@utadeo.edu.co">john.rinconc@utadeo.edu.co</a><br />
    <strong>Estudiantes: </strong>   <a href="mailto:camilo.sanchezrey@utadeo.edu.co">camilo.sanchezrey@utadeo.edu.co</a><br />
</address>