@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br>
<p><b>Universidad de Bogota Jorge Tadeo Lozano</b>
<p><b>Ingenieria de Software - Parcial segundo corte</b></p>
<br>
<p>John Rincón Cruz</p>
<p>Camilo Sánchez Rey</p>

